[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
jupyterlab = "*"
dill = "*"
opencv-python = "*"
scikit-image = "*"
scipy = "*"
imageio = "*"
sklearn = "*"

[requires]
python_version = "3.7"
