{% extends "base.html" %} {% block content %}

<div class="col-md">
    <!-- <h2>
        Give me some trash?
    </h2> -->
    <div class="row">
        <div class="col-md-8">
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label class="upload-label" style="margin-bottom:0rem;" for="imageUpload">
                    Give me some trash...
                </label>
                <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg">
            </form>
        
            <div class="image-section" style="display:none;">
                <img class="img-preview" id='imagePreview'/>
                <!-- <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div> -->
            </div>
        </div>

        <div class="col-md-4">
            <!-- <div style="height: 100%;"> -->
            <button type="button" id="btn-predict" class="predict-label">Predict!</button>                
                <!-- btn btn-primary btn-lg  -->
            <!-- </div> -->
            <div class="loader" style="display:none;"></div>


            <div class="result">
                <h3 id="result-cat"> </h3>
                <h3 id="result-prob"> </h3>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}